# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# PyInstaller build folders
build/
dist/
*.spec

# System files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# JSON data
weekly_goals.json
